@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.myskills {
    width: 100%;
}

.skills {
    margin: 20px;
}

.skills_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: aliceblue;


}


.programming_languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    /* background-color: red; */
    height: 100%;
    padding: 50px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
    height: 100%;
}


.skill_card {
    width: 240px;
    height: 100%;
    background: contain;
    border-radius: 15px;
    padding: 10px;

}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #484747; */
}

.skill_card img {
    width: 180px;
    height: 100px;
}

.skill_card div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.skill_card:hover {
    transform: scale(1.1);
    
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 50px rgba(199, 198, 198, 0.5);
}

l .bothSkills {
    width: 100%;
    background-color: white;

}

.skills_section {
    width: 100%;
    height: 80vh;
    padding: 0px 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
}

.skills_head {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
    text-align: center;
}

.skills_head h2 {
    font-size: 30px;
    color: black;
}

.skills_head h2 span {
    color: black;
}

.skills_main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1px;
    grid-column-gap: 10%;
    background: #484747;
    padding: 30px;
    border-radius: 12px;

}

.skills_main .skill_bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill_bar .info p:nth-child(2) {
    font-weight: 400;
}

.skill_bar .bar {
    width: 100%;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.skill_bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #9e0fd2;
    border-radius: 25px;
}

.skill_bar .bar .java {
    width: 95%;
    animation: java 2s;
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skill_bar .bar .c {
    width: 90%;
    animation: c 2s;
}

@keyframes c {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skill_bar .bar .cpp {
    width: 85%;
    animation: cpp 2s;
}

@keyframes cpp {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.skill_bar .bar .python {
    width: 60%;
    animation: python 2s;
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skill_bar .bar .react {
    width: 75%;
    animation: react 2s;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skill_bar .bar .ext {
    width: 58%;
    animation: ext 2s;
}

@keyframes ext {
    0% {
        width: 0%;
    }

    100% {
        width: 58%;
    }
}

.skill_bar .bar .dbms {
    width: 87%;
    animation: dbms 2s;
}

@keyframes dbms {
    0% {
        width: 0%;
    }

    100% {
        width: 87%;
    }
}

.skill_bar .bar .sql {
    width: 88%;
    animation: sql 2s;
}

@keyframes sql {
    0% {
        width: 0%;
    }

    100% {
        width: 88%;
    }
}

.skill_bar .bar .android {
    width: 75%;
    animation: android 2s;
}

@keyframes android {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skill_bar .bar .mobileAppnDev {
    width: 60%;
    animation: mobileAppnDev 2s;
}

@keyframes mobileAppnDev {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skill_bar .bar .uiux {
    width: 90%;
    animation: uiux 2s;
}

@keyframes uiux {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.professional_Skills {
    padding: 40px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.pSkills {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);


}

.profSkills {

    width: 160px;
    height: 160px;
    /* background: cornflowerblue; */
    position: relative;
    margin-left: 80px;

}

.profSkills .pSkillsNames {
    margin-top: 25px;
    /* font-weight: bold; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(225, 225, 225, 0.7);
    padding: 20px;
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(225, 225, 225, 0.7),
        -0.5px -0.5px 0px rgba(225, 225, 225, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
    font-weight: 600px;
    color: #555;

}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 165;
    }
}

.container {
    width: 500;
}

@media only screen and (max-width: 768px) {

    .professional_Skills {
        height: 120vh;
        margin-bottom: -130px;

    }

    .professional_Skills .skills_head {
        margin-top: -300px;
    }

    .pSkills {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 160px;
    }

    .profSkills {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .skills_main {
        grid-template-columns: 1fr;
        grid-column-gap: 70px;
    }


}